.slide.center
{
    position:relative;
    padding-top:5rem;
    z-index:5;
    text-align:left;
}
.slide_content.search_opened
{
    bottom:10rem;
}

.slide.center ul,
.slide.center li
{
    margin:0px;
    padding:0px;
    width:100%;
    overflow:hidden;
}
.slide.center li:last-child
{
    min-height:calc(100vh + 1rem);
}

.slide.center li.feed_item
{
    position:relative;
    list-style:none;
    font-size:1.6rem;
    margin:0px;
    border-bottom:1px solid var(--mainlistItemBorder);
    color:var(--mainlistColor);
    overflow:hidden;
    background:#e5e5e5;
}
.slide.center li.fresh_item
{
    background:#fff;
}

.feed_header
{
    position:relative;
    vertical-align:top;
    margin:0px;
    padding:0px;
    white-space:normal;
    padding:3.1rem 1.3rem 1.3rem 1.3rem;
}
.headerintro
{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    white-space:nowrap;
    padding:0.5rem 1rem 0rem 1.3rem;
}
.slide.center li.feed_fulldate
{
    background:#e5e5e5;
    border-bottom:1px solid var(--mainlistItemBorder);
    padding:0.5rem 1rem;
    font-size:1.3rem;
    color:#606060;
    font-weight:bold;
    letter-spacing:0.05em;
}

.feed_title
{
    position:relative;
    z-index:3;
    display:inline;
    vertical-align:top;
    margin:0px;
    padding:0px;
    white-space:normal;
    color:var(--mainlistColor);
    font-size:1.4rem;
    line-height:1em;
    overflow:hidden;
    font-weight:bold;
    color:#000;
}

p.feed_fulldate
{
    display:none;
}

.feed_smalldesc::before
{
    content: ' - ';
}
.feed_smalldesc
{
    margin:0px;
    display:inline;
    color:#999;
    font-size:1.4rem;
    line-height:1.3em;
    vertical-align:top;
}

.feed_origin
{
    display:inline-block;
    font-weight:normal;
    margin:0px;
    font-size:1.3rem;
    color:var(--mainlistColorOrigin);
    line-height:2.5rem;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:calc(100% - 10.0rem);

}
.feed_date
{
    float:right;
    font-size:1.3rem;
    margin:0px;
    margin-right:6.9rem;
    line-height:2.5rem;
    letter-spacing:0.05em;
    color:#2d6cb3;
}
.feed_image
{
    float:right;
    position:relative;
    height:0px;
    margin:0px 0px 0.6rem 0.6rem;
    height:6rem;
    width:6rem;
    background-position:center center;
    background-color:#ddd;
    background-repeat:no-repeat;
    background-size:cover;
}
.feed_flags
{
    position:absolute;
    right:0px;
    vertical-align:top;
    height:2.5rem;
    color:var(--mainFlagsFg);
    text-align:right;
    margin:0px;
}

.feed_flags span
{
    display:inline-block;
    line-height:2.5rem;
    vertical-align:top;
}
.feed_flags span.flag_read
{
    color:#2d6cb3;
    display:inline-block;
    width:5rem;
    padding:0rem 2rem 2rem 2rem;
    top:0px;
}
.feed_flags span.flag_read:before
{
    text-align:center;
    float:right;
}
.feed_flags span.flag_read.ko
{
    color:#2d6cb3;
}

/* do not display like on list */
.feed_flags span.flag_like,
.feed_flags span.flag_share
{
    display:none;
}
.feed_flags span.ko
{
    color:var(--mainFlagsFgKo);
}
.feed_flags span.updating
{
    color:var(--mainFlagsFgUpdating);
}

.feed_content
{
    position:relative;
    width:100%;
    font-size:1.6rem;
    line-height:2.0rem;
    padding:1rem;
    padding-bottom:12rem;
    overflow:hidden;
    white-space:normal;
}
.feed_content *
{
    max-width: 100%;
    height:auto;
    white-space:normal;
    line-height:1.2em;
}

.slide.center li.not_loggedin,
.slide.center li.no_items,
.slide.center li.loading
{
    list-style:none;
    line-height:7rem;
    text-align:center;
    font-size:1.6rem;
    background:#ebebeb;
    color:var(--mainlistButtonFg);
    min-height:0px;
}
.slide.center li.not_loggedin
{
    line-height:2em;
    padding:3rem 0px;
    white-space:normal;
}



.search_bar
{
    position:fixed;
    background:#212121;
    z-index:2;
    bottom:0rem;
    width:100%;
    text-align:center;
    background:#22;
    color:var(--centerMenuFg);
    height:5rem;
    line-height:5rem;
    overflow:hidden;
    white-space:nowrap;
    border-top:1px solid var(--centerMenuFg);
    transition:bottom 0.5s ease 0s;
}
.search_btn.opened
{
    color:#cbcbcb;
}
.search_bar.opened
{
    bottom:5rem;
}

.search_bar form
{
    padding:0px;
    text-align:center;
}
.search_bar form input
{
    display:inline-block;
    margin:0rem;
    padding:0px 0.5rem;
    width:calc(100% - 12rem);
    font-size:1.4rem;
    height:3rem;
}
.search_nums
{
    display:inline-block;
    font-size:1.4rem;
    width:6rem;
    text-align:center;
}
.search_close
{
    line-height:2.7rem;
    height:3rem;
    width:3rem;
}
.search_close:active
{
    color:white;
}

.center_menu
{
    position:fixed;
    bottom:0px;
    z-index:2;
    bottom:0px;
    width:100%;
    text-align:center;
    background:var(--centerMenuBg);
    color:var(--centerMenuFg);
    height:5rem;
    line-height:5rem;
    overflow:hidden;
    white-space:nowrap;
    border-top:1px solid var(--centerMenuFg);
}
.center_menu span
{
    display:inline-block;
    vertical-align:top;
    padding:0px 2rem;
    height:5rem;
    line-height:5rem;
}
.center_menu span:active
{
    color:white;
}
.center_menu_single
{
    z-index:5;
}

.center_menu span.list_btn
{
    background:url(../../img/list.png) center center no-repeat;
    background-size:auto 50%;
    vertical-align:top;
}
.center_menu span.updating
{
    color:var(--mainFlagsFgUpdating);
}

.slide.center li.feed_fullscreen
{
    position:absolute;
    z-index:4;
    top:5rem;
    width:100%;
    overflow-x:hidden;
    overflow-y:scroll;
    background:var(--mainsubListBg);
    bottom:20rem;
}
.slide.center li.feed_fullscreen .feed_smalldesc,
.slide.center li.feed_fullscreen .feed_smalldate
{
    display:none;
}
.slide.center li.feed_fullscreen .feed_fulldate
{
    display:block;
}

li.feed_fullscreen .headerintro
{
    position:relative;
    padding-top:0px;
    background:#ebebeb;
}

li.feed_fullscreen .feed_header
{
    background:var(--mainlistItemBg);
    padding:1rem;
    padding-bottom:0px;
}
li.feed_fullscreen .feed_image
{
    display:none;
}
li.feed_fullscreen .feed_title
{
    padding-right:0px;
    font-weight:bold;
    font-size:1.6rem;
    line-height:1.3em;
    color:#000;
}
li.feed_fullscreen .feed_flags
{
    position:relative;
    width:100%;
    height:auto;
    padding-bottom:0.8rem;
    margin-top:1rem;
}
li.feed_fullscreen .feed_flags span
{
    padding:0px 2rem;
    font-size:2.2rem;
    line-height:2.6rem;
    font-size:2rem;
    width:6rem;
}
li.feed_fullscreen .feed_flags span.flag_read,
li.feed_fullscreen .feed_flags span.flag_read.ko
{
    position:relative;
    left:auto;
    right:auto;
    color:#555;
}
.feed_flags span.flag_read.ko
{
    color:#2d6cb3;
}
li.feed_fullscreen .feed_flags span.flag_like,
li.feed_fullscreen .feed_flags span.flag_share
{
    display:inline-block;
}

li.feed_flags .headerintro
{
    background:#ebebeb;
}
li.feed_fullscreen .feed_origin
{
    position:absolute;
    top:1.7rem;
    left:1.3rem;
}
li.feed_fullscreen .feed_date
{
    display:block;
    float:none;
    text-align:left;
    padding-bottom:1.3rem;
}

.alert_container
{
    position:absolute;
    bottom:20%;
    z-index:6;
    left:0px;
    right:0px;
    text-align:center;
    visibility:hidden;
    opacity:0;
    transition:opacity 0.5s ease 0s;
}
.alert_container.visible
{
    visibility:visible;
    opacity:1;
}
.alert
{
    width:70%;
    margin:auto;
    font-size:1.7rem;
    white-space:normal;
    line-height:1.4em;
    padding:1rem;
    background:#ebebeb;
    color:var(--mainlistButtonFg);
    border:1px solid white;
    text-align:center;
}
.alert_container.visible.error .alert
{
    color:red;
    border:1px solid red;
}


.center_menu.with_labels span.fa:before
{
    position:relative;
    top:-0.5rem;
}
.center_menu span.button_text
{
    display:none;
}
.center_menu.with_labels span.button_text
{
    display:block;
    position:absolute;
    left:0px;
    bottom:0.2rem;
    width:100%;
    margin:0px;
    padding:0px;
    line-height:2rem;
    height:2rem;
    font-size:1rem;
}
