:root
{
    --mainBg: #fff;
    --mainColor: #000;

    --headerBg: #298bee;
    --headerColor: #fff;

    --selectedMenu: #298bee;
    --headerMenuBg: #298bee;
    --headerMenuFg: #fff;
    --menuBg: #333;
    --menuColor: #fff;

    --menulistBg: #000;
    --menulistItemBg: #ebebeb;
    --menulistItemBorder: #c2c2c2;
    --menulistItemBgFresh: #fff;
    --menulistColor: #000;
    --submenuListBg: #fff;

    --mainlistItemBorder: #c2c2c2;
    --mainlistItemBg: #ebebeb;
    --mainlistItemBgFresh: #fff;
    --mainlistColor: #000;
    --mainlistColorOrigin: #555;

    --mainlistButtonBg: #2b2b2b;
    --mainlistButtonFg: #828282;

    --mainsubListBg: #fff;
    --mainFlagsFg: #d4cc4d;
    --mainFlagsFgKo: #555;
    --mainFlagsFgUpdating: #bbb;

    --centerMenuBg: #2b2b2b;
    --centerMenuFg: #828282;
    --centerMenuFgUpdating: #555;


    --inputInvalid: #b90000;
    --inputBorder: #c7c7c7;
    --inputBg: #fff;
    --inputColor: #000;
    --buttonColor: #c7c7c7;
    --buttonRecommend: #298bee;
    --buttonRecommendColor: #fff;
    --buttonDanger: #E51E1E;
    --buttonDangerColor: #fff;
}
