
.header
{
    position:fixed;
    z-index:15;
    width:100%;
    top:0px;
    height:5rem;
    line-height:5rem;
    background:var(--headerBg);
    font-size:0.7rem;
    color:var(--headerColor);
    overflow:hidden;

    font-weight: lighter;
    font-style: italic;
    text-align: center;
}
.header h1
{
    font-size:1.5rem;
    font-weight:bold;
    width:calc(100% - 10rem);
    overflow:hidden;
    text-overflow:ellipsis;
}

.header button
{
    width:5rem;
    height:5rem;
}

.header button span
{
    color:#000;
}
.header button:active span
{
    color:#fff;
}
.header button.selected
{
    background:var(--selectedMenu);
}

.button_left
{
    float:left;
}
.button_right
{
    float:right;
}
.header button
{
    background:none;
    border:none;
}

