.slide.left
{
    border-right:1px solid var(--menulistItemBorder);
}
.slide.left .slide_content
{
    text-align:left;
    background:var(--menulistBg);
    color:var(--menulistColor);
}
.slide.left ul,
.slide.left li
{
    margin:0px;
    padding:0px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.label
{
    display:inline-block;
    width:calc(100% - 8rem);
}

.slide.left li
{
    position:relative;
    list-style:none;
    line-height:5rem;
    font-size:1.6rem;
    margin:0px;
    background:var(--menulistItemBg);
    border-bottom:1px solid var(--menulistItemBorder);
}
.slide.left li.selected
{
    background:rgb(204,204,204);
}
.slide.left li p
{
    display:inline-block;
    vertical-align:top;
    font-size:1.5rem;
    height:5rem;
    line-height:5rem;
    margin:0px;
    padding:0px;
}
.label_toggle
{
    width:4rem;
    height:100%;
    text-align:center;
}
.label_toggle span
{
    display:inline-block;
    padding-left:1rem;
    padding-right:1rem;
    width:100%;
    height:100%;
}
.label_num
{
    display:inline-block;
    vertical-align:middle;
    text-align:right;
    padding:0px 0.5rem 0px 1rem;
    top:0px;
    height:100%;
    font-size:1em;
    width:3rem;
}
.label_delete
{
    display:inline-block;
    vertical-align:middle;
    text-align:right;
    padding:0px 0.5rem 0px 1rem;
    top:0px;
    height:100%;
    font-size:1em;
    width:3rem;
}
.feed_icon
{
    display:inline-block;
    width:4rem;
    vertical-align:middle;
}
.feed_icon img
{
    width:50%;
    vertical-align:middle;
}

div.leftlist_items
{
    display:none;
}
div.leftlist_items.visible
{
    display:block;
}

div.leftlist_item
{
    position:relative;
    font-size:1.5rem;
    line-height:0.8em;
    padding-left:1rem;
    background:var(--submenuListBg);
}
.feed_name
{
    display:inline-block;
    vertical-align:middle;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:calc(100% - 8rem);
}


.subtitle h2
{
    font-size:1.5rem;
    text-align:center;
    height:5rem;
    line-height:5rem;
    font-weight:normal;
    margin:0px;
    padding:0px;
    background:var(--headerMenuBg);
    color:var(--headerMenuFg);
}

.slide.left .center_menu
{
    width:calc(80% - 1px);
}

