
progress{
    display: none; 
    z-index: 10; 
    position: absolute; 
    top: 5rem; 
    width: 100%; 
    height: 0.4rem; 
    background:#C2C2C2;
}

progress:not([value]) {
    animation: 0.9s 0s normal none infinite rotate;
    background: rgba(0, 0, 0, 0) url("progress_activity/images/ui/default.png") no-repeat scroll center center / 100% auto;
    border: medium none;
    display: inline-block;
    height: 2.9rem;
    vertical-align: middle;
    width: 2.9rem;
}

progress:not([value])::-moz-progress-bar {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
progress[value] {
    background: #333 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    display: block;
    height: 0.4rem;
    width: 100%;
}
progress[value]::-moz-progress-bar {
    background: #01c5ed none repeat scroll 0 0;
    border-radius: 0;
}
progress.pack-activity[value] {
    animation: 1.5s  0s normal none infinite move;
    background-image: repeating-linear-gradient(135deg, rgb(146, 244, 254), rgb(146, 244, 254) 5rem, rgb(0, 205, 240) 5rem, rgb(0, 205, 240) 10rem);
    background-size: 15rem auto;
}

@keyframes move {
0% {
    background-position: 0 0;
}
100% {
    background-position: -15rem 0;
}
}
