<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= name %></title>
        <meta name="description" content="<%= description %>">

        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/app.css">

        <!-- External / Tool librairies -->
        <script type="text/javascript" src="js/libs/Promise.js" defer></script>
        <script type="text/javascript" src="js/libs/l10n.js" defer></script>
        <script type="text/javascript" src="js/libs/l10n_placeholders.js" defer></script>

        <!-- App librairies --> 
        <script type="text/javascript" src="js/modules/vibrate.js" defer></script>
        <script type="text/javascript" src="js/modules/layout.js" defer></script>
        <script type="text/javascript" src="js/modules/settings.js" defer></script>
        <script type="text/javascript" src="js/modules/notif.js" defer></script>

        <script type="text/javascript" src="js/modules/selfoss.js" defer></script>
        <script type="text/javascript" src="js/modules/owncloud.js" defer></script>
        <script type="text/javascript" src="js/modules/theoldreader.js" defer></script>
        <script type="text/javascript" src="js/modules/feedly.js" defer></script>
        <script type="text/javascript" src="js/modules/tinytinyrss.js" defer></script>


        <!-- Main initialisation -->
        <script type="text/javascript" src="js/app.js" defer></script>

        <link rel="prefetch" type="application/l10n" href="data/locales.ini" />

    </head>
    <body role="application">

        <div class="slides left_visible">
            <div class="slide left">
            <div class="subtitle">
                <h2 data-l10n-id="leftlist_title"></h2>
            </div>
                <div class="slide_content">
                    <ul class="leftlist"></ul>
                </div>
                <div class="center_menu with_labels center_menu_feeds">
                    <span class="addfeed_btn fa fa-plus"><span class="button_text" data-l10n-id="button_addfeed"></span></span>
                    <span class="check_btn fa fa-trash"><span class="button_text" data-l10n-id="button_delfeed"></span></span>
                </div>
            </div>
            <div class="slide center">
                <div class="alert_container">
                    <div class="alert"></div>
                </div>
                <!-- MENU -->
                <div class="header">
                    <button class="button_left" data-slide="left"><span class="fa fa-navicon"></span></button>
                    <button class="button_right" data-slide="right"><span class="fa fa-gear"></span></button>
                    <h1 data-l10n-id="app_title">The Old RSS Reader</h1>
                </div>

                <progress class="pack-activity" max="100" value="0"></progress>
                <div class="feed_fullscreen-container">
                </div>

                <div class="slide_content">
                    <ul>
                    </ul>
                </div>

                <div class="search_bar">
                    <form>
                        <input type="text" data-l10n-placeholder="search"  />
                        <span class="search_close fa fa-close"></span>
                        <span class="search_nums"></span>
                    </form>
                </div>

                <div class="center_menu with_labels center_menu_all">
                    <span class="readall_btn fa fa-check"><span class="button_text" data-l10n-id="button_read"></span></span>
                    <span class="search_btn fa fa-search"><span class="button_text" data-l10n-id="button_search"></span></span>
                    <span class="top_btn fa fa-arrow-up"><span class="button_text" data-l10n-id="button_top"></span></span>
                    <span class="update_btn fa fa-refresh"><span class="button_text" data-l10n-id="button_refresh"></span></span>
                </div>

                <div class="center_menu with_labels center_menu_single hidden">
                    <span class="prev_btn fa fa-arrow-left"><span class="button_text" data-l10n-id="button_prev"></span></span>
                    <span class="close_btn fa fa-close"><span class="button_text" data-l10n-id="button_close"></span></span>
                    <span class="fs_btn fa fa-expand"><span class="button_text" data-l10n-id="fs"></span></span>
                    <span class="next_btn fa fa-arrow-right"><span class="button_text" data-l10n-id="button_next"></span></span>
                </div>
            </div>
            <div class="slide right">
                <div class="alert_container">
                    <div class="alert"></div>
                </div>
                <div class="subtitle">
                    <h2 data-l10n-id="settings_title"></h2>
                </div>
                <div class="slide_content">

                    <!-- Register form -->
                    <div role="main">
                        <div class="main_layer">
                            <fieldset class="toggle opened">
                                <legend class="fa fa-at" data-l10n-id="account_information"></legend>
                                <form id="register_layer">
                                    <div class="loggedout">
                                        <p class="form_text" data-l10n-id="select_api"></p>
                                        <p class="line_select">
                                                <select name="api" id="api">
                                                </select>
                                        </p>
                                    </div>
                                </form>
                            </fieldset>

                            <fieldset class="loggedin hidden toggle">
                                <legend class="fa fa-cogs" data-l10n-id="ui_settings"></legend>
                                <form>

                                    <p class="line_select">
                                        <label for="lang" data-l10n-id="lang"></label>
                                        <select class="lang" id="lang">
                                                <option value="en-US">English</option>
                                                <option value="es">Español</option>
                                                <option value="fr">Français</option>
                                                <option value="ru-RU">русский</option>
                                        </select>
                                    </p>


                                    <p class="line_checkbox">
                                        <span class="view_read fa fa-toggle-off" id="view_read"></span>
                                        <label for="view_read" data-l10n-id="view_read_items"></label>
                                    </p>

                                    <p class="line_checkbox">
                                        <span class="show_labels fa fa-toggle-off" id="show_labels"></span>
                                        <label for="show_labels" data-l10n-id="show_labels"></label>
                                    </p>

                                    <p class="line_checkbox">
                                        <span class="show_content fa fa-toggle-off" id="show_content"></span>
                                        <label for="show_content" data-l10n-id="show_content"></label>
                                    </p>

                                    <p class="line_checkbox">
                                        <span class="show_image fa fa-toggle-off" id="show_image"></span>
                                        <label for="show_image" data-l10n-id="show_image"></label>
                                    </p>
                                    <p class="line_checkbox">
                                        <span class="click_vibrate fa fa-toggle-off" id="click_vibrate"></span>
                                        <label for="click_vibrate" data-l10n-id="click_vibrate"></label>
                                    </p>
                                    <p class="line_checkbox">
                                        <span class="read_scroll fa fa-toggle-off" id="read_scroll"></span>
                                        <label for="read_scroll" data-l10n-id="read_scroll"></label>
                                    </p>
                                    <p class="line_checkbox">
                                        <span class="read_enter fa fa-toggle-off" id="read_enter"></span>
                                        <label for="read_enter" data-l10n-id="read_enter"></label>
                                    </p>

                                </form>
                            </fieldset>

                            <fieldset class="loggedin hidden toggle">
                                <legend class="fa fa-bell" data-l10n-id="notif_settings"></legend>
                                <form>
                                    <p class="line_checkbox">
                                        <span class="view_notification fa fa-toggle-off" id="view_notification"></span>
                                        <label for="view_notification" data-l10n-id="view_notification"></label>
                                    </p>

                                </form>
                            </fieldset>


                            <fieldset class="loggedin hidden toggle">
                                <legend class="fa fa-refresh" data-l10n-id="update_settings"></legend>
                                <form>
                                    <p class="line_select">
                                        <label for="update_time" data-l10n-id="update_time"></label>
                                        <select class="update_time" id="update_time">
                                            <option value="0" data-l10n-id="time_0m" />
                                            <option value="5" data-l10n-id="time_5m" />
                                            <option value="10" data-l10n-id="time_10m" />
                                            <option value="15" data-l10n-id="time_15m" />
                                            <option value="30" data-l10n-id="time_30m" />
                                            <option value="60" data-l10n-id="time_60m" />
                                            <option value="120" data-l10n-id="time_120m" />
                                        </select>
                                    </p>
                                </form>
                            </fieldset>

                            <fieldset class="toggle">
                                <legend class="fa fa-wrench" data-l10n-id="advanced_settings"></legend>
                                <form>
                                    <p class="line_input">
                                        <label for="hide_regex" data-l10n-id="hide_regex"></label>
                                        <span class="">
                                            <input class="hide_regex" id="hide_regex">
                                        </span>
                                        <span class="valid" id="invalid_regex" data-l10n-id="invalid_regex"></span>
                                    </p>

                                    <p class="line_input">
                                        <label for="max_search_items" data-l10n-id="max_search_items"></label>
                                        <span class="">
                                            <input class="max_search_items"  type="number" min="1" max="1000" id="max_search_items">
                                        </span>
                                    </p>

                                    <p class="line_input">
                                        <label for="max_smalldesc_chars" data-l10n-id="max_smalldesc_chars"></label>
                                        <span class="">
                                            <input class="max_smalldesc_chars"  type="number" min="1" max="1000" id="max_smalldesc_chars">
                                        </span>
                                    </p>
                                </form>
                            </fieldset>


                            <fieldset class="toggle">
                                <legend class="fa fa-info-circle" data-l10n-id="about"></legend>
                                <form>
                                    <dl>
                                        <dt data-l10n-id="about_version"></dt>
                                        <dd><%= version %></dd>
                                    </dl>
                                    <dl>

                                        <dt data-l10n-id="about_author"></dt>
                                        <dd><a target="_blank" href="http://tfeserver.be"><%= developer.name %></a></dd>
                                    </dl>

                                    <dl>

                                        <dt data-l10n-id="about_url"></dt>
                                        <dd><a target="_blank" href="<%= developer.url %>" data-l10n-id="about_github"></a></dd>
                                    </dl>

                                    <dl>

                                        <dt data-l10n-id="ru_translation"></dt>
                                        <dd>Petr Georya</dd>
                                    </dl>

                                    <p><a href="mailto:tfe@tfeserver.be?subject=Tfe-RSS%20Bug%20Report" target="_blank" class="bb-button bb-recommend" data-l10n-id="about_report"></a></p>
                                    <p><a href="https://marketplace.firefox.com/app/tfe-rss/ratings" target="_blank" class="bb-button bb-recommend" data-l10n-id="rate_app"></a></p>
                                    <p><a href="http://paypal.me/tfeserver" target="_blank" class="bb-button bb-grey" data-l10n-id="donate"></a></p>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
